<!DOCTYPE HTML>
<html>
<head></head>
<body>

<!-- this replaces the nav bar in the base layout -->
<nav id="menu01" class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/logos/bootstrap-logo.svg" alt="Logo" width="30" height="24"
                 class="d-inline-block align-text-top">
            Silo
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/temperatures">Temperatures</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/humidities">Humidities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/grainheights">GrainHeights</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/silos">Silos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>