<div id="sidenav" class="vh-100 d-flex flex-column flex-shrink-0 text-white bg-dark c-sidenav">

  <a href="/" class="p-3 text-white text-decoration-none">
    <div class="d-flex gap-1 align-items-center justify-content-center">
      <img src="/images/logos/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      <p class="m-0 p-0">Silo</p>
    </div>
  </a>

  <ul class="p-1 px-2 nav nav-pills flex-column mb-auto gap-2 sidenav-links">
    <li class="nav-item c-nav-item">
      <a href="/" class="d-flex flex-row align-items-center gap-2 nav-link text-white">
        <div class="c-sidenav-icon">
          <i class="fa-solid fa-gauge fa-lg"></i>
        </div>
        <p class="m-0 p-0">Dashboard</p>
      </a>
    </li>
    <li class="nav-item c-nav-item text-white">
      <a href="/temperatures" class="d-flex flex-row align-items-center gap-2 nav-link text-white">
        <div class="c-sidenav-icon">
          <i class="fa-solid fa-temperature-quarter fa-lg"></i>
        </div>
        <p class="m-0 p-0">Temperatures</p>
      </a>
    </li>
    <li class="nav-item c-nav-item text-white">
      <a href="/humidities" class="d-flex flex-row align-items-center gap-2 nav-link text-white">
        <div class="c-sidenav-icon">
          <i class="fa-solid fa-droplet fa-lg"></i>
        </div>
        <p class="m-0 p-0">Humidities</p>
      </a>
    </li>
    <li class="nav-item c-nav-item text-white">
      <a href="/grainheights" class="d-flex flex-row align-items-center gap-2 nav-link text-white">
        <div class="c-sidenav-icon">
          <i class="fa-solid fa-ruler-vertical fa-lg"></i>
        </div>
        <p class="m-0 p-0">Grain Heights</p>
      </a>
    </li>
  </ul>

</div>


<div id="sidenav-mobile" class="text-white bg-dark c-sidenav-mobile">

  <ul class="p-1 px-2 nav nav-pills flex-column mb-auto gap-2 sidenav-links">
    <li class="nav-item c-nav-item">
      <a href="/" class="d-flex flex-row align-items-center gap-2 nav-link text-white">
        <div class="c-sidenav-icon">
          <i class="fa-solid fa-gauge fa-lg"></i>
        </div>
        <p class="m-0 p-0">Dashboard</p>
      </a>
    </li>
    <li class="nav-item c-nav-item text-white">
      <a href="/temperatures" class="d-flex flex-row align-items-center gap-2 nav-link text-white">
        <div class="c-sidenav-icon">
          <i class="fa-solid fa-temperature-quarter fa-lg"></i>
        </div>
        <p class="m-0 p-0">Temperatures</p>
      </a>
    </li>
    <li class="nav-item c-nav-item text-white">
      <a href="/humidities" class="d-flex flex-row align-items-center gap-2 nav-link text-white">
        <div class="c-sidenav-icon">
          <i class="fa-solid fa-droplet fa-lg"></i>
        </div>
        <p class="m-0 p-0">Humidities</p>
      </a>
    </li>
    <li class="nav-item c-nav-item text-white">
      <a href="/grainheights" class="d-flex flex-row align-items-center gap-2 nav-link text-white">
        <div class="c-sidenav-icon">
          <i class="fa-solid fa-ruler-vertical fa-lg"></i>
        </div>
        <p class="m-0 p-0">Grain Heights</p>
      </a>
    </li>
  </ul>

</div>