<div id="topbar" class="d-flex flex-row align-items-center text-white bg-dark c-topbar">
    <div class="c-topbar-mobile">
        <button class="c-hamburger-btn">
            <i class="fa-solid fa-bars fa-lg"></i>
        </button>
    </div>
    <div class="c-topbar-mobile">
        <a href="/" class="d-flex flex-column align-items-center justify-content-center text-white text-decoration-none">
            <img src="/images/logos/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            <p class="m-0 p-0">Silo</p>
        </a>
    </div>
</div>