<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base_layout}">

<head>
    <title>Grain Heights</title>
</head>

<body >
<section layout:fragment="content">
    <div class="row pgcontent">
        <div class="col">
            <h3>Grain Heights Readings</h3>
            <div class ="flex-container">
            <table id="distance-table" class="table table-hover table-striped table-responsive caption-top w-auto ">
                <caption>Grain Heights Readings</caption>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Grain Height</th>
                    <th>Datetime</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="grainHeight : ${grainHeights}">
                    <td class="tableColumn1" th:text="${grainHeight.id}"></td>
                    <td class="tableColumn1"  th:text="${grainHeight.height}"></td>
                    <td th:text="${grainHeight.dateTime}"></td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    <div>
        <canvas id="heightChart"></canvas>
    </div>
    </div>

</section>



<section layout:fragment="custom-scripts">
    <script src="/scripts/wsSensor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-gradient"></script>
    <script src="/scripts/chartsGrainHeights.js"></script>
</section>
</body>
</html>