<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base_layout}">
<head>
    <title>Humidities</title>
</head>
<body>
    
<!-- Replaces the content section of the base layout --> 
<section layout:fragment="content">
    <div class="row_pgcontent">
        <div class="col">
            <h3>Humidity Readings</h3>
            <table id="humidity-table" class="table table-striped caption-top w-auto">
                <caption>Humidity Readings</caption>
                <thead>
                    <tr class="tableHeading">
                        <th>ID</th>
                        <th>Humidity</th>
                        <th>Datetime</th>
                    </tr>
                </thead>
                <tbody class="dataTable">
                    <tr th:each="humidity : ${humidities}">
                        <td class="dataID" th:text="${humidity.id}"></td>
                        <td class="chartData" th:text="${humidity.hValue}"></td>
                        <td class="chartLabel" th:text="${humidity.dateTime}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <canvas id="humBarChart"></canvas>
    </div>
</section>

<section layout:fragment="custom-scripts">
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-gradient"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/3.0.1/chartjs-plugin-annotation.min.js" integrity="sha512-Hn1w6YiiFw6p6S2lXv6yKeqTk0PLVzeCwWY9n32beuPjQ5HLcvz5l2QsP+KilEr1ws37rCTw3bZpvfvVIeTh0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="/scripts/allCharts.js"></script>
    <script src="/scripts/wsSensor.js"></script>
</section>
</body>
</html>