<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base_layout}">
<head>
    <title>Humidities</title>
</head>
<body>

<section layout:fragment="content">
    <div class="row pgcontent">
        <div class="col">
            <h3>Humidity Readings</h3>
            <table id="humidity-table" class="table table-striped caption-top w-auto">
                <caption>Humidity Readings</caption>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Humidity</th>
                    <th>Datetime</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="humidity : ${humidities}">
                    <td class="tableColum1" th:text="${humidity.id}"></td>
                    <td class="tableColum1" th:text="${humidity.hValue}"></td>
                    <td th:text="${humidity.dateTime}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <canvas id="humBarChart"></canvas>
    </div>
</section>

<section layout:fragment="custom-scripts">
    <script src="/scripts/wsSensor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-gradient"></script>
    <script src="/scripts/chartsHumidities.js"></script>
</section>
</body>
</html>