<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base_layout}"
>
<head>
    <title>Silos</title>
</head>
<body>

<section layout:fragment="content">
    <h3>Silos</h3>

    <div class="pt-4">
        <table id="silos-table" class="table table-striped table-lg caption-top">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th class="text-center">Height</th>
                <th class="text-center">Radius</th>
                <th class="text-center">Longitude</th>
                <th class="text-center">Latitude</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="silo : ${silos}">
                <td th:text="${silo.id}"></td>
                <td th:text="${silo.name}"></td>
                <td class="text-center" th:text="${silo.height}"></td>
                <td class="text-center" th:text="${silo.radius}"></td>
                <td class="text-center" th:text="${silo.longitude}"></td>
                <td class="text-center" th:text="${silo.latitude}"></td>
                <td class="text-center">
                    <a th:href="@{/silos/{id}(id=${silo.id})}">
                        <i title="View silo details" class="fa-solid fa-arrow-right-to-bracket"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

</body>
</html>