<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base_layout}"
>
    <head>
        <title th:text="@{Silo {id}(id=${silo.id})}"></title>
    </head>
    <body>

    <section layout:fragment="content">
        <h3 th:text="@{Detailed Page for Silo {id}(id=${silo.id})}"></h3>

            <div class="pt-4 d-flex flex-column align-items-center justify-content-center">
                <div class="w-100">
                    <div class="d-flex flex-column gap-1 c-info-col-display">
                        <label class="text-xs bold">ID</label>
                        <p th:text="${silo.id}"></p>
                    </div>
                    <div class="d-flex flex-column gap-1 c-info-col-display">
                        <label>Name</label>
                        <p th:text="${silo.name}"></p>
                    </div>
                    <div class="d-flex flex-row gap-5">
                        <div>
                            <div class="d-flex flex-column gap-1 c-info-col-display">
                                <label>Height</label>
                                <p th:text="${silo.height}"></p>
                            </div>
                            <div class="d-flex flex-column gap-1 c-info-col-display">
                                <label>Longitude</label>
                                <p th:text="${silo.longitude}"></p>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex flex-column gap-1 c-info-col-display">
                                <label>Radius</label>
                                <p th:text="${silo.radius}"></p>
                            </div>
                            <div class="d-flex flex-column gap-1 c-info-col-display">
                                <label>Latitude</label>
                                <p th:text="${silo.latitude}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-100">
                  <div id="map" class="c-map"></div>
                </div>
            </div>

            <button onclick="history.back()" class="c-back-button"><i class="fa-solid fa-chevron-left"></i> Back</button>
    </section>

    <section layout:fragment="custom-scripts">
        <script th:inline="javascript">
            const geoLong = [[${silo.longitude}]];
            const geoLat = [[${silo.latitude}]];
        </script>
        <script src="/scripts/siloMap.js"></script>
    </section>

    </body>
</html>
