<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base_layout}">
<head>
    <title>Temperatures</title>
</head>
<body>

<section layout:fragment="content">
    <div class="row pgcontent">
        <div class="col">
            <h3>Temperature Readings</h3>
            <table id="temperature-table" class="table table-striped table-sm caption-top w-auto">
                <caption>Temperature Readings</caption>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Temperature</th>
                    <th>Datetime</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="temperature : ${temperatures}">
                    <td th:text="${temperature.id}"></td>
                    <td th:text="${temperature.tValue}"></td>
                    <td th:text="${temperature.dateTime}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <canvas id="tempLineChart"></canvas>
    </div>
</section>

<section layout:fragment="custom-scripts">
    <script src="/scripts/wsSensor.js"></script>
    <script src="/scripts/chartsTemperatures.js"></script>
</section>
</body>
</html>