.row.pgcontent, .row.pgmenu {
    margin-bottom: 10px;

}

.hp-card {
    width: 12rem;
}

tbody{
    display: block;
    height: 400px;
    overflow-y: auto;
    scrollbar-width: thin;


}

.thead, tr  {
    display: table;
}

.tableColum1{
    width: 75px;
}