:root {
    --topbar-height: 60px;
    --sidenav-width: 250px;
    --sidenav-mobile-open-height: 200px;
}

/*
For all devices with width bigger than 769px
*/
@media screen and (min-width: 769px) {
    .c-sidenav {
        width: var(--sidenav-width);
    }

    .c-sidenav-mobile {
        display: none;
    }

    .c-topbar-mobile {
        display: none;
    }
}

/*
For medium size device screens and smaller
*/
@media screen and (max-width: 768px) {
    .c-sidenav {
        visibility: hidden;
        width: 0;
    }

    .c-sidenav-mobile {
        display: block;
    }

    .c-topbar {
        justify-content: space-between;
    }

    .c-topbar-mobile {
        padding: 1rem;
    }

    .c-hamburger-btn {
        display: inline-block !important;
    }
}

.row.pgcontent, .row.pgmenu {
    margin-bottom: 10px;
}

.hp-card {
    width: 12rem;
}

.c-nav-item-active {
    background-color: #af9146;
}

.c-topbar {
    height: var(--topbar-height);
}

.c-nav-item {
    border-radius: 5px;
}

.c-nav-item:hover {
    background-color: #af9146;
    transition: background-color 0.1s ease-in;
}

.c-section {
    max-height: calc(100% - var(--topbar-height));
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.c-sidenav-icon {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-sidenav-mobile {
    position: absolute;
    width: 100%;
    height: 0;
    top: var(--topbar-height);
    overflow: hidden;
}

.c-sidenav-mobile-open {
    z-index: 10;
    height: var(--sidenav-mobile-open-height);
}

.c-hamburger-btn {
    outline: none;
    border: none;
    background: none;
    color: whitesmoke;
    display: none;
}

.c-hamburger-btn:hover {
    transform: scale(1.4);
    transition: transform 0.1s linear;
}

.c-map {
    height: 500px;
}

.dataTable {
    overflow-y: auto;
    scrollbar-width: thin;
}

.c-info-col-display label {
    font-weight: bold;
    font-size: 12px;
}

.c-box {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    padding: 0.8rem;
}
