.row.pgcontent, .row.pgmenu {
    margin-bottom: 10px;
}

.hp-card {
    width: 12rem;
}

.c-map {
    height: 500px;
}

.dataTable {
    display: block;
    height: 400px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.tableHeading {
    display: table;
    width: 300px;
}

.dataID, .chartData {
    width: 75px;
}

.chartLabel {
    width: 180px;
}

.c-info-col-display label {
    font-weight: bold;
    font-size: 12px;
}

.c-box {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    padding: 0.8rem;
}

.popup{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(
        0,
        0,
        0,
        0.4
    );
    display: none;
}

.popup-content{
    background-color: #af9146;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 30%;
    font-weight: bolder;
}

.popup-content button {
    display: block;
    margin: 0 auto;
}

.warning {
    background-color: rgb(223, 5, 5);
    display: none;
}

.warning-message{
    color:beige;
}

.show {
    display: block;
}